
#root{
    background-color: rgb(244, 244, 244);
    font-family: Nunito;
}

/* xxxxxxxxxxxxxxxxxxxxxxx NAV BAR xxxxxxxxxxxxxxxxxxxxxxx */

.navPage{
    width: 100%;  
    height: 7vh;
}

.page{
    height: 93vh;
    background-color: aquamarine;
}

.elements{
    padding: 1%;
}

nav{
    width: 100vw;  
    height: 7vh;
    z-index: 999;
    background-color: white;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
}


.navLink {
    margin: 10px;
    color: black;
    text-decoration: none;
}

.navLink:hover {
    color: #582932;
    font-weight: bolder;
}

.active{
    color: #582932;
    font-weight: bolder;
}


.logo{
    color: rgb(0, 0, 0);
    padding-left: 2%;
    font-family: ocr;
    font-size: 35px;

}

/* xxxxxxxxxxxxxxxxxxxxxxx HOME xxxxxxxxxxxxxxxxxxxxxxx */

/* .homePage{
    height: 100vh;
    width: 100%;
} */

.cont{
    /* display: flex; */
    height: 100%;
    display: grid;
    grid-template-columns: 45% 10% 45% ;
}

.tagLine{
    margin: auto;
    font-size: 30px;
}

.tagLine > h1:nth-child(2){
    color: #582932;
}

.btn:hover{
    color: #582932;
    background-color: white;
}

.btn{
    position: relative;
    cursor: pointer;
    top: 70px;
    border-radius: 10px;
    box-shadow:  3px 4px 4px 1px #696666;
    border: none;
    box-shadow: inset;
    margin: auto;
    font-size: 25px;
    padding: 10px;
    color: white;
    background-color: #582932;
    
}

.image{
    height: 100%;
    background-color: #582932;
}

.image > object{
   width: 95%;
   height: 100%;
}

.imgSlider{
    height: 100%;
    display: flex   ;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.imgSlider > div{
    /* margin: auto; */
    
}


.imgSlider > div > object {
    height: 100px;

}

.rightBtn{
    margin: auto;
    height: 50px;
    width: 50px;
    transition: 0.3s;

}

.leftBtn:hover {
    height: 60px;
    width: 60px;
}

.rightBtn:hover {
    height: 60px;
    width: 60px;
}

.leftBtn {
    transition: 0.3s;
    margin: auto;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
    /* background-color: red; */
}


.slider{
    display: flex;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX home page XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.categories, .newProducts {
    display: flex;
    /* margin: auto; */
    justify-content: center;
    /* background-color: azure; */
}
.cate1, .productBox{
    background-color: azure;
    margin: 2%;
    border-style: solid;
    border: black 1px 1px;
}

.productBox{
    background-color: azure;
    padding: 10px;
}

.productBox > object{
    height: 100px;
    width: 100px;
}
